absl-py
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cycler
cymem
debugpy
decorator
defusedxml
distlib
distro
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
entrypoints
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
fsspec
gast
gdown
gitdb
GitPython
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
ipykernel
ipython
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras
kiwisolver
langchain
langchain-core
langchain-openai
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lark
libclang
lightgbm
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
mpmath
murmurhash
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
openai
opencv-python
opt_einsum
optree
orjson
ormsgpack
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
polars
polars-runtime-32
preshed
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-json-logger
pytz
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
six
smart_open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
thinc
threadpoolctl
tiktoken
tinycss2
toml
tomli
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typer-slim
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
uri-template
urllib3
uuid_utils
virtualenv
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
wrapt
xgboost
xxhash
zstandard
